body{
    font-size: 16px;
    line-height: 1.5;
    background-color: $bg-color;
    color:$main-color;
    @extend %roboto-400;
    &.open--menu{
        overflow: hidden;
    }
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.main{
    flex:1;
}

.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}