body{
    overflow-x: hidden;
    font-size: 16px;
    line-height: 1.5;
    background-color: $bg-color;
    color:$main-color;
    letter-spacing: 0%;
    @extend %CircularStd-500;
    height: 100vh;
    &.open--menu{
        overflow: hidden;
    }
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main{
    flex:1;
}

.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}