$bg-color:#fff;
$main-color: rgb(144, 144, 144);
$accent-color:rgb(53, 175, 244);
$text-color:rgb(144, 144, 144);
$title-color:#181818;
$input-colorbg:#fff;
// $textarea-colorbg:#563563;

%CircularStd-500{
    font-family: 'CircularStd-Medium';
    font-weight: 500;
}

%CircularStd-700{
    font-family: "CircularStd-Bold",sans-serif;
    font-weight: 700;
}

%title{
    @extend %CircularStd-500;
    font-size: clamp(1.375rem, 0.966rem + 2.05vw, 2.5rem);
    color:$title-color;
}

%text{
    font-size: 18px;
    color:$text-color;
    @extend %CircularStd-500;
    line-height: 1.5;
}

// %text-h1{

// }

// %text-h2{
    
// }

// %text-h3{
    
// }


%btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    min-height: 48px;
    transition: all .5s;
    font-size: 16px;
    background-color: $accent-color;
    border-radius: 8px;
    color:#fff;
    &:hover{
        background-color: $input-colorbg;
    }
}

%input{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    min-height: 48px;
    background-color: $input-colorbg;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 8px;
    width: 100%;
    color:#909090;
    &::placeholder{
        font-size: 14px;
        color:#909090;
        @extend %CircularStd-500;
        line-height: 1.5;
    }
}

// %textarea{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 18px 30px;
//     min-height: 190px;
//     background-color: $textarea-colorbg;
//     width: 100%;
//     border:1px solid $text-color;
//     border-radius: 14px;
//     @extend %text;
//     resize: none;
//     &::placeholder{
//         @extend %text;
//     }
// }

