$bg-color:#fff;
$main-color:#000;
$accent-color:#232323;
$text-color:#000;
$title-color:#000;
$input-colorbg:#000;
$textarea-colorbg:#563563;
%roboto-400{
    font-family: "Roboto",sans-serif;
    font-weight: 400;
}

%title{
    font-size: 40px;
    color:$text-color;
}

%text{
    font-size: 20px;
    color:$text-color;
}

// %text-h1{

// }

// %text-h2{
    
// }

// %text-h3{
    
// }


%btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    min-height: 40px;
    transition: all .5s;
}

%input{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    min-height: 59px;
    background-color: $input-colorbg;
    @extend %text;
    border:1px solid $text-color;
    border-radius: 14px;
    width: 100%;
    &::placeholder{
        @extend %text;
    }
}

%textarea{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 30px;
    min-height: 190px;
    background-color: $textarea-colorbg;
    width: 100%;
    border:1px solid $text-color;
    border-radius: 14px;
    @extend %text;
    resize: none;
    &::placeholder{
        @extend %text;
    }
}

