.button{
    @extend %btn;
}

.header{
    &__btn{
        display: flex;
        gap:0 12px;
    }   
    &__link{
        min-height: 40px;
        @extend %text;
        @extend %CircularStd-500;
        &:hover{
            background-color: #181818;
        }
        &--while{
            background-color: #fff;
            border: 1px solid rgb(183, 183, 183);
            color:rgb(183, 183, 183);
            &:hover{
                border-color: $accent-color;
                border-color: #181818;
            }
        }
    }
}

.different__link{
    display: inline-flex;
    &:hover{
        background-color: #181818;
    }
}

.newsletter__btn{
    background-color: #181818;
    &:hover{
        color:#181818
    }
}

