.header{
    padding: 16px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:0 32px;
    }
    &__logo{
        position: relative;
        z-index: 10;
    }
    @media(max-width:1023px){
        &__inner{
            justify-content: unset;
        }
    }
    @media(max-width:550px){
        &__inner{
            gap:5px;
        }
        &__logo{
            flex-basis: 100px;
            img{
                width: 100%;
            }
        }
    }
}