.newsletter{
    overflow: hidden;
    &__container{
        width: 100%;
        background-color: $accent-color;
    }
    &__inner{
        position: relative;
        &:before{
            position: absolute;
            content:"";
            width:  320px;
            height: 320px;
            left: -78px;
            top: -48px;
            background-repeat: no-repeat;
            background-image: url(../../images/icon/geo.svg);
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        gap:15px;
        padding: clamp(1.563rem, 0.055rem + 6.43vw, 5rem) 0;
        align-items: center;
        padding-left: 180px;
        
    }
    &__text{
        flex-basis: 536px;
        h4{
            color: #fff;
            font-size: clamp(1.25rem, 1.031rem + 0.94vw, 1.75rem);
            margin-bottom: 4px;
        }
        p{
            font-size: clamp(1.125rem, 1.07rem + 0.23vw, 1.25rem);
            color:#F0F0F0;
        }
    }
    &__form{
        display: flex;
        gap:12px;
        position: relative;
        flex:1;
        &:before{
            position: absolute;
            content:"";
            width: 24px;
            height: 24px;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(../../images/icon/email.svg);
            background-repeat: no-repeat;
            background-position: center
        }
    }
    &__input{
        @extend %input;
        padding-left: 44px;
    }
    @media(max-width:1280px){
        &__text{
            flex-basis: 470px;
        }
    }
    @media(max-width:1023px){
        &__content{
            padding-left: 0;
            flex-direction: column;
        }
        &__text{
            flex-basis: auto;
            text-align: center;
        }
        &__inner{
            &:before{
                display: none;
            }
        }
        &__form{
            width: 100%;
        }
        &__input{
            flex-basis: 50%;
        }
        &__btn{
            flex:auto;
        }
    }
    @media(max-width:550px){
        &__form{
            flex-direction: column;
            &:before{
                top:10%;
                transform: translateY(0);
            }
        }
    }
}