.popular{
    padding: clamp(1.25rem, 0.341rem + 4.55vw, 3.75rem) 0;
    &__inner{
        display: flex;
        flex-direction: column;
        gap:clamp(0.875rem, 0.382rem + 2.11vw, 2rem);
        overflow: hidden;
    }
    &__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:15px;
    }
    &__body-text{
        display: grid;
        gap:clamp(0.125rem, -0.259rem + 1.64vw, 1rem);
        h3{
            @extend %title;
        }
    }
}