.swiper-arrows{
    display: flex;
    gap:15px;
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: clamp(1.75rem, 1.295rem + 2.27vw, 3rem);
        height: clamp(1.75rem, 1.295rem + 2.27vw, 3rem);
        border-radius: 50%;
    }
    &__prev{
        background-color: transparent;
        border: 1px solid rgb(185, 185, 185);
        rotate:-180deg;
    }
    &__next{
        background-color: $accent-color;
    }
}